<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVALUENOS!</title>
</head>
<body>
    <header>
        <main>
            <p>Antes que nada...</p>
            <audio src="y2mate.com - audio Bienvenidosas.mp3" controls></audio>
            <nav>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/Evaluenos.html">EVALUENOS</a></li>
                    <li><a href="/views/Juegofinal.html">JUEGO</a></li>
                    <li><a href="/views/Masfotos.html">MAS FOTOS</a> </li>
                </ul>
            </nav>
        </header>
        <h1>EVALUENOS!</h1>
        <h2>Complete el formulario</h2>
        <form action="" method="">
        <fieldset>
           <legend>Datos Personales</legend>
           <p>Nombre:</p>
           <input type="text" name="Nombre" id="Nombre"<br>
           <p>Apeliido:</p>  
           <input type="text" name="Apellido" id="Apellido"<br>
           <p>Mail:</p>
           <input type="text" name="Mail" id="Mail"<br>
           <p>Opinion:</p>
           <input type="text" name="Opinion" id="Opinion"<br>
           <p>Telefono:</p>
           <input type="number" name="Telefono" id="Telefono"<br>
           <p>AHORA SI!</p>
           <input type="button" value="ENVIAR"
        </fieldset>
        
</body>
</html>
