<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotos</title>
</head>
<body>
    <header>
        <main>
            <p>Antes que nada...</p>
            <audio src="y2mate.com - audio Bienvenidosas.mp3" controls></audio>
            <nav>
                <ul>
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/views/Evaluenos.html">EVALUENOS</a></li>
                    <li><a href="/views/Juegofinal.html">JUEGO</a></li>
                    <li><a href="/views/Masfotos.html">MAS FOTOS</a> </li>
                </ul>
            </nav>
        </header>
    <Article>
        <h1>EJEMPLOS:
            <H2>
            <b>ROJO:</b><br>
            <img src="/mas rojo.jpg" alt="">
            <img src="/masrojo2.jpg" alt="">
            </H2>
            <h2>
             <b>AZUL:</b> <br>
             <img src="/masazul.jpg" alt="">
             <img src="/masazul2.jpg" alt="">
            </h2>
            <h2>
                <b>AMARILLO</b><br>
            <img src="/masamarillo.jpg" alt="">
            <img src="/masamarillo2.jpg" alt="">
            </h2>
            <H2>
                <b>VERDE:</b><br>
            <img src="/masverde.jpg" alt="">
            <img src="/masverde2.jpg" alt="">
            </H2>
            
        </h1>
    </Article>
    <FOoter>
        <P>Ahora los initamos a que se diviertan con el juego!</P>
    </FOoter>
</body>
</html>